<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-compact-disc"></i>
              &nbsp;&nbsp;Images
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" (click)="showNew()" title="New Image...">
                <i class="fas fa-plus-square"></i>
            </button>
            </div>
          </div>
          <div class="card-body">
           <table class="table table-sm" style="vertical-align: middle !important;">
              <thead>
                <tr>
                  <th style="width: 10px">&nbsp;</th>
                  <th style="width: 60px">Namespace</th>
                  <th style="width: 100px">Name</th>
                  <th style="width: 20px">Type</th>
                  <th style="width: 150px">Readable Name</th>
                  <th style="width: 20px">Actions</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let thisImage of imageList">
                    <td style="line-height: 2.2 !important; align-content: center;"><i class="fas fa-compact-disc"></i></td>
                    <td style="line-height: 2.2 !important;">{{thisImage.namespace}}</td>
                    <td style="line-height: 2.2 !important;">{{thisImage.name}}</td>
                    <td style="line-height: 2.2 !important;">{{thisImage.type}}</td>
                    <td style="line-height: 2.2 !important;">{{thisImage.readableName}}</td>
                    <td style="line-height: 0 !important;">
                      <a class="btn" (click)="showInfo(thisImage.name, thisImage.namespace)" title="Info...">
                        <i class="fas fa-info" (click)="showInfo(thisImage.name, thisImage.namespace)"></i>
                      </a>
                      <a class="btn" (click)="showEdit(thisImage.name, thisImage.namespace)" title="Edit...">
                        <i class="fas fa-pen" (click)="showEdit(thisImage.name, thisImage.namespace)"></i>
                      </a>
                      <a class="btn" (click)="showDelete(thisImage.name, thisImage.namespace)" title="Delete...">
                        <i class="fas fa-trash" (click)="showDelete(thisImage.name, thisImage.namespace)"></i>
                      </a>
                    </td>
                  </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
      </div>


      <!--            -->
      <!-- Modal: New -->
      <!--            -->
      <div class="modal fade" id="modal-new" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="new-title">TITLE_TEMPLATE</h4>
                    <button type="button" class="close" (click)='hideComponent("modal-new")'>
                    <span aria-hidden="true">×</span>
                    </button>
                </div>
                <input type="hidden" id="new-node" name="new-node" value="">
                <div class="modal-body" id="new-value">
                    <label for="newimagename">Name:</label>
                    <input #newimagename type="text" class="form-control" id="new-image-name" name="new-image-name" placeholder="name">
                    <label for="newimagenamespace">Namespace:</label>
                    <select #newimagenamespace class="custom-select rounded-0" name="new-image-namespace" id="new-image-namespace">
                        <option>Value 1</option>
                    </select>
                    <label for="newimagereadablename">Readable Name:</label>
                    <input #newimagereadablename type="text" class="form-control" id="new-image-readablename" name="new-image-readablename" placeholder="Readable Name of the image">
                    <label for="newimagereadabledescription">Description:</label>
                    <input #newimagereadabledescription type="text" class="form-control" id="new-image-readabledescription" name="new-image-readabledescription" placeholder="Optional description of the image">
                    <label for="newimagetype">Type:</label>
                    <select #newimagetype class="custom-select rounded-0" name="new-image-type" id="new-image-type" (change)="onChangeImageType(newimagetype.value)">
                        <option value="http">HTTP(s)</option>
                        <option value="registry">Registry</option>
                        <option value="gcs">GCS</option>
                        <option value="s3">S3</option>
                        <option value="pvc">PVC</option>
                    </select>
                    <input #newimagecredentials type="hidden" value="">
                    <label for="newimagevalue">Value:</label>
                    <input #newimagevalue type="text" class="form-control" id="new-image-value" name="new-image-value" placeholder="http(s)://example.com/image-file.qcow2.gz">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" (click)='hideComponent("modal-new")'>Close</button>
                    <button type="button" class="btn btn-primary" (click)="applyNew(newimagename.value, newimagenamespace.value , newimagetype.value, newimagecredentials.value, newimagereadablename.value, newimagereadabledescription.value, newimagevalue.value)">Create</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Delete -->
    <!--               -->
    <div class="modal fade" id="modal-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-title">TITLE_TEMPLATE</h4>
                <button type="button" class="close" (click)='hideComponent("modal-delete")'>
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <input type="hidden" id="delete-namespace" name="delete-namespace" value="">
            <input type="hidden" id="delete-name" name="delete-name" value="">
            <div class="modal-body" id="delete-value">
                <p>BODY_TEMPLATE</p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" (click)='hideComponent("modal-delete")'>Close</button>
                <button type="button" class="btn btn-danger" (click)="applyDelete()">Delete</button>
            </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
  

    <!--             -->
    <!-- Modal: Info -->
    <!--             -->
    <div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="info-title">TITLE_TEMPLATE</h4>
                <button type="button" class="close" (click)='hideComponent("modal-info")'>
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="info-value">
                <ul class="nav flex-column" id="info-cards">
                    TEMPLATE
                </ul>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-default" (click)='hideComponent("modal-info")'>Close</button>
            </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!--               -->
    <!-- Modal: EDIT   -->
    <!--               -->
    <div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="edit-title">TITLE_TEMPLATE</h4>
                <button type="button" class="close" (click)='hideComponent("modal-edit")'>
                <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="edit-value">
                <div class="form-group">
                    <input type="hidden" id="image-namespace" name="image-namespace" value="">
                    <input type="hidden" id="image-name" name="image-name" value="">
                    <input type="hidden" id="image-type" name="image-type" value="">
                    <label for="image-readable-name">Image Readable Name</label>
                    <input #imagereadablename type="text" class="form-control" id="image-readable-name" name="image-readable-name" placeholder="Readable Name">
                    <label for="image-description">Description</label>
                    <input #imagedescription type="text" class="form-control" id="image-description" name="image-description" placeholder="Image Description">
                    <label for="image-value">Value</label>
                    <input #imagevalue type="text" class="form-control" id="image-value" name="image-value" placeholder="0">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" (click)='hideComponent("modal-edit")'>Close</button>
                <button type="button" class="btn btn-primary" (click)='applyEdit(imagereadablename.value, imagedescription.value, imagevalue.value)'>Save</button>
            </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
  
      
    </div>
  </div>
  
  