#top_bar {
    background-color: #6e84a3;
    color: white;
    font: bold 12px Helvetica;
    overflow: hidden;
    /* position: fixed; */
    width: 80%;
    /* padding: 6px 5px 4px 5px; */
    /* border-bottom: 1px outset; */
  }
  
  #status {
    text-align: center;
  }
  
  #screen {
    flex: 1; /* fill remaining space */
    overflow: hidden;
    /* position: fixed; */
    width: 80%;
    height: 80%;
  }