<div class="content">
  <div class="container-fluid">
    <div class="content-wrapper">
      <div class="row">&nbsp;</div>

      <!-- PROMETHEUS: CPU / MEMORY display: none;-->
      <div class="row" id="prometheus-row-one" style="display: none;">
        <div class="col-lg-6 col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">CPU Usage</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4"><div class="chartjs-size-monitor">
              <div class="chart-container">
                <canvas  id="CpuChart" >{{ cpuChart }}</canvas>
              </div>
              </div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Memory Usage <i>(GB)</i></h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4"><div class="chartjs-size-monitor">
              <div class="chart-container">
                <canvas  id="MemChart" >{{ memChart }}</canvas>
              </div>
              </div></div>
            </div>
          </div>
        </div>
      </div>

      <!-- PROMETHEUS: NET / STORAGE display: none;-->
      <div class="row" id="prometheus-row-two" style="display: none;">
        <div class="col-lg-6 col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Network <i>Total Traffic (kbps)</i></h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4"><div class="chartjs-size-monitor">
              <div class="chart-container">
                <canvas  id="NetChart" >{{ netChart }}</canvas>
              </div>
              </div></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex justify-content-between">
                <h3 class="card-title">Storage <i>Total Traffic (mbps)</i></h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4"><div class="chartjs-size-monitor">
              <div class="chart-container">
                <canvas  id="StgChart" >{{ stgChart }}</canvas>
              </div>
              </div></div>
            </div>
          </div>
        </div>
      </div>

      <!-- FIRST ROW -->
      <div class="row">
        <!-- NODE INFO -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.nodeInfo.running}}/{{this.nodeInfo.total}}</h3>

              <p>Kubernetes Nodes</p>
            </div>
            <div class="icon">
              <i class="ion ion-speedometer"></i>
            </div>
            <a routerLink="/nodelist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- VM INFO -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.vmInfo.running}}/{{this.vmInfo.total}}</h3>

              <p>Virtual Machines</p>
            </div>
            <div class="icon">
              <i class="ion ion-monitor"></i>
            </div>
            <a routerLink="/vmlist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- Disks -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.discInfo}}</h3>

              <p>Disks</p>
            </div>
            <div class="icon">
              <i class="ion ion-disc"></i>
            </div>
            <a routerLink="/dsklist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- VM Pools -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.poolInfo}}</h3>

              <p>VM Pools</p>
            </div>
            <div class="icon">
              <i class="ion ion-code"></i>
            </div>
            <a routerLink="/vmpools" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="row">&nbsp;</div>

      <!-- SECOND ROW -->
      <div class="row">
        <!-- CPU INFO -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.cpuInfo}}</h3>

              <p>Total CPUs</p>
            </div>
            <div class="icon">
              <i class="ion ion-flash"></i>
            </div>
            <a routerLink="/nodelist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- MEMORY INFO -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.memInfo}} GB</h3>

              <p>Total Memory</p>
            </div>
            <div class="icon">
              <i class="ion ion-gear-b"></i>
            </div>
            <a routerLink="/nodelist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- STORAGE INFO -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.storageInfo}} GB</h3>

              <p>Total Storage</p>
            </div>
            <div class="icon">
              <i class="ion ion-folder"></i>
            </div>
            <a routerLink="/nodelist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- NETWORK INFO -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.netInfo}}</h3>

              <p>Available Networks</p>
            </div>
            <div class="icon">
              <i class="ion ion-network"></i>
            </div>
            <a routerLink="/netlist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="row">&nbsp;</div>

      <!-- THIRD ROW -->
      <div class="row">
        <!-- STORAGE CLASS -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.storageClassesInfo}}</h3>

              <p>Storage Classes</p>
            </div>
            <div class="icon">
              <i class="ion ion-wand"></i>
            </div>
            <a routerLink="/dsklist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- NAMESPACES -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.namespacesInfo}}</h3>

              <p>Namespaces</p>
            </div>
            <div class="icon">
              <i class="ion ion-pricetag"></i>
            </div>
            <a routerLink="/vmlist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- INSTANCE TYPES -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.instanceTypesInfo}}</h3>

              <p>Instance Types</p>
            </div>
            <div class="icon">
              <i class="ion ion-settings"></i>
            </div>
            <a routerLink="/citlist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <!-- SERVICES -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{this.loadBalancers}}</h3>

              <p>Load Balancers</p>
            </div>
            <div class="icon">
              <i class="ion ion-merge"></i>
            </div>
            <a routerLink="/lblist" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
