<div class="content">
  <div class="container-fluid">
    <div class="content-wrapper">
      &nbsp;<br>
      <div class="card card-outline">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-shield-alt"></i>
            &nbsp;&nbsp;Firewall Rules
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" (click)="showNew()" title="New Rule...">
              <i class="fas fa-plus-square"></i>
          </button>
          </div>
        </div>
        <div class="card-body">
         <table class="table table-sm" style="vertical-align: middle !important;">
            <thead>
              <tr>
                <th style="width: 10px">&nbsp;</th>
                <th style="width: 100px">Namespace</th>
                <th style="width: 100px">Name</th>
                <th style="width: 20px">Type</th>
                <th style="width: 60px">Target Type</th>
                <th style="width: 20px">Target</th>
                <th style="width: 100px">Filter Type</th>
                <th style="width: 100px">Filter</th>                
                <th style="width: 80px">Ports</th>
                <th style="width: 20px">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actualRule of firewallRuleList">
                  <td style="line-height: 2.2 !important; align-content: center;"><i class="fas fa-user-shield"></i></td>
                  <td style="line-height: 2.2 !important;">{{actualRule.namespace}}</td>
                  <td style="line-height: 2.2 !important;">{{actualRule.name}}</td>
                  <td style="line-height: 2.2 !important;">{{actualRule.type}}</td>
                  <td style="line-height: 2.2 !important;">{{actualRule.target.type}}</td>
                  <td style="line-height: 2.2 !important;">{{actualRule.target.value}}</td>
                  <td style="line-height: 2.2 !important;">{{actualRule.filter.type}}</td>
                  <td style="line-height: 2.2 !important;">{{actualRule.filter.value}}</td>
                  <td style="line-height: 2.2 !important;">
                    <div class="row" *ngFor="let actualPair of actualRule.filter.pairs">{{actualPair.port}}/{{actualPair.protocol}}</div>
                  </td>
                  <td style="line-height: 0 !important;">
                    <a class="btn">
                      <i class="fas fa-info" title="Info..."></i>
                    </a>
                    <a class="btn" title="Delete...">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>


    <!--            -->
    <!-- Modal: New -->
    <!--            -->
    <div class="modal fade" id="modal-new" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="new-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-new")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <input type="hidden" id="new-node" name="new-node" value="">
            <div class="modal-body" id="new-value">

                <label for="newRuleName">Rule Name</label>
                <input #newrulename type="text" class="form-control" id="new-rule-name" name="new-rule-name" placeholder="rule-name">
                <label for="newRuleNamespace">Namespace:</label>
                <select #newrulenamespace class="custom-select rounded-0" name="new-rule-namespace" id="new-rule-namespace">
                    <option>Value 1</option>
                </select>
                <label for="newRuleTargetType">Target Type:</label>
                <select #newruletargettype class="custom-select rounded-0" name="new-rule-targettype" id="new-rule-targettype">
                    <option value="namespace">Namespace</option>
                    <option value="vm">VirtualMachine</option>
                    <option value="vmpool">VirtualMachinePool</option>
                    <option value="kcluster">Cluster</option>
                    <option value="masterpool">ClusterMasterPool</option>
                    <option value="workerpool">ClusterWorkerPool</option>
                </select>
                <label for="newRuleTargetValue">Target Value:</label>
                <select #newruletargetvalue class="custom-select rounded-0" name="new-rule-targetvalue" id="new-rule-targetvalue">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                </select>
                <label for="newRuleSourceType">Source Type:</label>
                <select #newrulesourcetype class="custom-select rounded-0" name="new-rule-sourcetype" id="new-rule-sourcetype">
                    <option value="namespace">Namespace</option>
                    <option value="vm">Virtual Machine</option>
                    <option value="vmpool">Virtual Machine Pool</option>
                    <option value="kcluster">Kubernetes Cluster</option>
                    <option value="masterpool">Kubernetes Master Pool</option>
                    <option value="workerpool">Kubernetes Worker Pool</option>
                </select>
                <label for="newRuleSourceValue">Source Value:</label>
                <select #newrulesourcevalue class="custom-select rounded-0" name="new-rule-sourcevalue" id="new-rule-sourcevalue">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                    <option>E</option>
                    <option>F</option>
                </select>
                <br/>
                <label for="newRuleAllowAll">Protocol/Ports:</label><br>
                <div class="row">
                    <div class="col-1">
                        <input #newruleallowall type="hidden" name="new-rule-allowall" id="new-rule-allowall" value="yes">
                    </div>
                    <div class="col-3"><input class="form-check-input" type="radio" name="rule-allowall" id="rule-allowall" value="yes" checked="true" aria-checked="true" (change)='changeRule("yes")'><label class="form-check-label">Allow all</label></div>
                    <div class="col-3"><input class="form-check-input" type="radio" name="rule-allowall" id="rule-allowall" value="no" (change)='changeRule("no")'><label class="form-check-label">Specific protocols/ports</label></div>
                    <div class="col-5">&nbsp;</div>
                </div>
                <br/>
                <div id="new-rule-protocolports" class="pane fade" style="display: none;" aria-hidden="true">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-1">
                            <input class="form-check-input" type="checkbox" name="new-rule-tcp" id="new-rule-tcp" (change)='changeTCP($event)'><label class="form-check-label">TCP</label>
                        </div>
                        <div class="col-5">
                            <input #newruletcpports type="text" class="form-control" id="new-rule-tcpports" name="new-rule-tcpports" placeholder="80,443,8080..." pattern="/[[:digit:]][,?[[:digit:]]*/g" disabled>
                        </div>
                        <div class="col-1">&nbsp;</div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-1">
                            <input class="form-check-input" type="checkbox" name="new-rule-udp" id="new-rule-udp" (change)='changeUDP($event)'><label class="form-check-label">UDP</label>
                        </div>
                        <div class="col-5">
                            <input #newruleudpports type="text" class="form-control" id="new-rule-udpports" name="new-rule-udpports" placeholder="53,61,137..." pattern="/[[:digit:]][,?[[:digit:]]*/g" disabled>
                        </div>
                        <div class="col-1">&nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-new")'>Close</button>
              <button type="button" class="btn btn-primary">Create</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>



  </div>
</div>

