<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-sitemap"></i>
              &nbsp;&nbsp;Load Balancers
            </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" (click)="showNew()" title="New Load Balancer...">
                <i class="fas fa-plus-square" (click)="showNew()"></i>
                </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-sm" style="vertical-align: middle !important;">
                <thead>
                  <tr>
                    <th style="width: 10px">&nbsp;</th>
                    <th style="width: 35px">Namespace</th>
                    <th style="width: 70px">Name</th>
                    <th style="width: 40px">Type</th>
                    <th style="width: 20px">ClusterIP</th>
                    <th style="width: 20px">Load Balancer</th>
                    <th style="width: 80px">Target Resource</th>
                    <th style="width: 90px">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let thisLoadBalancer of loadBalancerList">
                    <td style="line-height: 2.2 !important; align-content: center;"><i class="fas fa-sitemap"></i></td>
                    <td style="line-height: 2.2 !important;">{{thisLoadBalancer.namespace}}</td>
                    <td style="line-height: 2.2 !important;">{{thisLoadBalancer.name}}</td>
                    <td style="line-height: 2.2 !important;">{{thisLoadBalancer.type}}</td>
                    <td style="line-height: 2.2 !important;">{{thisLoadBalancer.clusterIP}}</td>
                    <td style="line-height: 2.2 !important;">{{thisLoadBalancer.loadBalancer}}</td>
                    <td style="line-height: 2.2 !important;">{{thisLoadBalancer.targetResource}}</td>
                    <td style="line-height: 0 !important;">
                        <a class="btn" (click)="showInfo(thisLoadBalancer.namespace, thisLoadBalancer.name)" title="Info...">
                          <i class="fas fa-info" (click)="showInfo(thisLoadBalancer.namespace, thisLoadBalancer.name)"></i>
                        </a>
                        <a class="btn" (click)="showType(thisLoadBalancer.namespace, thisLoadBalancer.name)" title="Config...">
                            <i class="fas fa-cog" (click)="showType(thisLoadBalancer.namespace, thisLoadBalancer.name)"></i>
                          </a>
                        <a class="btn" (click)="showDelete(thisLoadBalancer.namespace, thisLoadBalancer.name)" title="Delete...">
                          <i class="fas fa-trash" (click)="showDelete(thisLoadBalancer.namespace, thisLoadBalancer.name)"></i>
                        </a>
                    </td>
                </tbody>
            </table>
          </div>
        </div>
      </div>


    <!--             -->
    <!-- Modal: New -->
    <!--             -->
    <div class="modal fade" id="modal-new" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="new-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-new")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="new-value">
                <div class="card card-primary card-tabs">
                    <div class="card-header p-0 pt-1">
                      <!-- TABS Selector-->
                      <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="newlb-home-tab" data-toggle="pill" href="#newlb-home" role="tab" aria-controls="newlb-home" aria-selected="false">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="newlb-meta-tab" data-toggle="pill" href="#newlb-meta" role="tab" aria-controls="newlb-meta" aria-selected="false">Metadata</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="newlb-ports-tab" data-toggle="pill" href="#newlb-ports" role="tab" aria-controls="newlb-ports" aria-selected="false">Ports</a>
                        </li>
                      </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="custom-tabs-two-tabContent">
                            <!-- HOME TAB -->
                            <div class="tab-pane fade show active" id="newlb-home" role="tabpanel" aria-labelledby="newlb-home-tab">
                                <label for="newlb-name">Name:</label>
                                <input #newlbname type="text" class="form-control" id="newlb-name" name="newlb-name">
                                <label for="newlb-namespaces">Namespace:</label>
                                <select #newlbnamespace class="custom-select rounded-0" name="newlb-namespace" id="newlb-namespace" (change)="onChangeNamespaceOrResourceType(newlbnamespace.value, newlbtargetresourcetype.value)">
                                    <option>Value 1</option>
                                </select>
                                <label for="newlb-targettype">Type:</label>
                                <select #newlbtargettype class="custom-select rounded-0" name="newlb-targettype" id="newlb-targettype">
                                    <option value="ClusterIP">ClusterIP</option>
                                    <option value="LoadBalancer">LoadBalancer</option>
                                    <option value="NodePort">NodePort</option>
                                </select>
                                <label for="newlb-targetresourcetype">Target Type:</label>
                                <select #newlbtargetresourcetype class="custom-select rounded-0" name="newlb-targetresourcetype" id="newlb-targetresourcetype" (change)="onChangeNamespaceOrResourceType(newlbnamespace.value, newlbtargetresourcetype.value)">
                                    <option value="vminstance">VM Instance</option>
                                    <option value="vmpool">VM Pool</option>
                                </select>
                                <label for="newlb-targetresource">Target Resource:</label>
                                <select #newlbtargetresource class="custom-select rounded-0" name="newlb-targetresource" id="newlb-targetresource">
                                </select>
                            </div>
                            <!-- METADATA TAB -->
                            <div class="tab-pane fade" id="newlb-meta" role="tabpanel" aria-labelledby="newlb-meta-tab">
                                <div class="row">
                                    <label for="newlb-ports">Labels:&nbsp;
                                      <a class="btn" (click)="addLabel()" title="Add new label...">
                                        <i class="fas fa-plus"></i>
                                      </a>
                                    </label>
                                </div>
                                <div class="row">
                                    <form [formGroup]="labelList">
                                        <table class="table table-sm" style="vertical-align: middle !important;">
                                            <thead>
                                                <tr>
                                                <th style="width: 400px">Key</th>
                                                <th style="width: 400px">Value</th>
                                                <th style="width: 60px">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="labels"> 
                                                <tr *ngFor="let label of labels.controls; let i = index" [formGroupName]="i">
                                                  <td style="line-height: 2.2 !important;"><input type="text" class="form-control" name="newlb-labelkey" id="labelKey{{i}}" formControlName="labelKey"></td>
                                                  <td style="line-height: 2.2 !important;"><input type="text" class="form-control" name="newlb-labelvalue" id="labelValue{{i}}" formControlName="labelValue"></td>
                                                  <td style="line-height: 2.2 !important;">
                                                    <a class="btn" (click)="removeLabel(i)" title="Remove label...">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                                <div class="row">
                                    <label for="newlb-ports">Annotations:&nbsp;
                                      <a class="btn" (click)="addAnnotation()" title="Add new annotation...">
                                        <i class="fas fa-plus"></i>
                                      </a>
                                    </label>
                                </div>
                                <div class="row">
                                    <form [formGroup]="annotationList">
                                        <table class="table table-sm" style="vertical-align: middle !important;">
                                            <thead>
                                                <tr>
                                                <th style="width: 400px">Key</th>
                                                <th style="width: 400px">Value</th>
                                                <th style="width: 60px">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="annotations"> 
                                                <tr *ngFor="let annotation of annotations.controls; let i = index" [formGroupName]="i">
                                                  <td style="line-height: 2.2 !important;"><input type="text" class="form-control" name="newlb-annotationkey" id="annotKey{{i}}" formControlName="annotKey"></td>
                                                  <td style="line-height: 2.2 !important;"><input type="text" class="form-control" name="newlb-annotationvalue" id="annotValue{{i}}" formControlName="annotValue"></td>
                                                  <td style="line-height: 2.2 !important;">
                                                    <a class="btn" (click)="removeAnnotation(i)" title="Remove annotation...">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                            <!-- PORTS TAB -->
                            <div class="tab-pane fade" id="newlb-ports" role="tabpanel" aria-labelledby="newlb-ports-tab">
                                <div class="row">
                                    <label for="newlb-ports">Ports:&nbsp;
                                      <a class="btn" (click)="addPort()" title="Add new port...">
                                        <i class="fas fa-plus"></i>
                                      </a>
                                    </label>
                                </div>
                                <div class="row">
                                    <form [formGroup]="portList">
                                        <table class="table table-sm" style="vertical-align: middle !important;">
                                            <thead>
                                                <tr>
                                                <th style="width: 260px">Name</th>
                                                <th style="width: 260px">Port</th>
                                                <th style="width: 260px">Target Port</th>
                                                <th style="width: 260px">Protocol</th>
                                                <th style="width: 60px">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="ports"> 
                                                <tr *ngFor="let port of ports.controls; let i = index" [formGroupName]="i">
                                                  <td style="line-height: 2.2 !important;"><input type="text" class="form-control" name="newlb-port" id="portName{{i}}" formControlName="portName"></td>
                                                  <td style="line-height: 2.2 !important;"><input type="text" class="form-control" name="newlb-port" id="srcPort{{i}}" formControlName="srcPort"></td>
                                                  <td style="line-height: 2.2 !important;"><input type="text" class="form-control" name="newlb-targetport" id="dstPort{{i}}" formControlName="dstPort"></td>
                                                  <td style="line-height: 2.2 !important;">
                                                    <select class="custom-select rounded-0" name="newlb-targetproto" id="portProtocol{{i}}" formControlName="portProtocol">
                                                      <option value="TCP">TCP</option>
                                                      <option value="UDP">UDP</option>
                                                    </select>
                                                  </td>
                                                  <td style="line-height: 2.2 !important;">
                                                    <a class="btn" (click)="removePort(i)" title="Remove port...">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                  </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" (click)='hideComponent("modal-new")'>Close</button>
                <button type="button" class="btn btn-primary" (click)="applyNew(newlbname.value, newlbnamespace.value, newlbtargetresourcetype.value, newlbtargetresource.value, newlbtargettype.value)">Create</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <!--             -->
    <!-- Modal: Info -->
    <!--             -->
    <div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="info-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-info")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="info-value">
              <ul class="nav flex-column" id="info-cards">
                  TEMPLATE
              </ul>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-info")'>Close</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--                    -->
    <!-- Modal: Change Type -->
    <!--                    -->
    <div class="modal fade" id="modal-type" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="type-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-type")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <input type="hidden" id="type-name" name="type-name" value="">
            <input type="hidden" id="type-namespace" name="type-namespace" value="">
            <div class="modal-body" id="type-value">
              <label for="newType">Load Balancer Type:</label>
              <select #changelbtype class="custom-select rounded-0" name="changelb-type" id="changelb-type">
                  <option value="ClusterIP">ClusterIP</option>
                  <option value="LoadBalancer">LoadBalancer</option>
                  <option value="NodePort">NodePort</option>
              </select>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-type")'>Close</button>
              <button type="button" class="btn btn-primary" (click)="applyType(changelbtype.value)">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Delete -->
    <!--               -->
    <div class="modal fade" id="modal-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="delete-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-delete")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <input type="hidden" id="delete-namespace" name="delete-namespace" value="">
            <input type="hidden" id="delete-name" name="delete-name" value="">
            <div class="modal-body" id="delete-value">
              <p>BODY_TEMPLATE</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-delete")'>Close</button>
              <button type="button" class="btn btn-danger" (click)="applyDelete()">Delete</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    </div>
</div>