<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
              Scaling Groups
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool">
                  <i class="fas fa-plus-square" title="Create group..."></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-sm" style="vertical-align: middle !important;">
                <thead>
                  <tr>
                    <th style="width: 10px">&nbsp;</th>
                    <th style="width: 130px">Namespace</th>
                    <th style="width: 160px">Name</th>
                    <th style="width: 160px">Target Pool</th>
                    <th style="width: 20px">Min</th>
                    <th style="width: 20px">Max</th>
                    <th style="width: 40px">Metric</th>
                    <th style="width: 60px">Threshold</th>
                    <th style="width: 20px">Current</th>
                    <th style="width: 20px">Desired</th>
                    <th style="width: 60px">Utilization</th>
                    <th style="width: 120px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let thisHPA of hpaList">
                    <td style="line-height: 2.2 !important;">&nbsp;</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.namespace}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.name}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.scaleTarget}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.minReplicas}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.maxReplicas}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.metricName}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.metricAvg}}%</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.currentRpl}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.desiredRpl}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.currAvgUtl}}%</td>
                    <td style="line-height: 0 !important;">
                        <a class="btn" title="Info...">
                          <i class="fas fa-info"></i>
                        </a>
                        <a class="btn" title="Config...">
                            <i class="fas fa-cog"></i>
                          </a>
                        <a class="btn" title="Delete...">
                          <i class="fas fa-trash"></i>
                        </a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
