<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
              Scaling Groups
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool">
                  <i class="fas fa-plus-square" (click)="showNew()" title="Create group..."></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-sm" style="vertical-align: middle !important;">
                <thead>
                  <tr>
                    <th style="width: 10px">&nbsp;</th>
                    <th style="width: 130px">Namespace</th>
                    <th style="width: 160px">Name</th>
                    <th style="width: 160px">Target Pool</th>
                    <th style="width: 20px">Min</th>
                    <th style="width: 20px">Max</th>
                    <th style="width: 40px">Metric</th>
                    <th style="width: 60px">Threshold</th>
                    <th style="width: 20px">Current</th>
                    <th style="width: 20px">Desired</th>
                    <th style="width: 60px">Utilization</th>
                    <th style="width: 120px">&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let thisHPA of hpaList">
                    <td style="line-height: 2.2 !important;">&nbsp;</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.namespace}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.name}}</td>
                    <td style="line-height: 2.2 !important;"><a class="btn" routerLink="/vmpooldetail/{{thisHPA.namespace}}/{{thisHPA.scaleTarget}}" title="Target details...">{{thisHPA.scaleTarget}}</a></td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.minReplicas}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.maxReplicas}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.metricName}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.metricAvg}}%</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.currentRpl}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.desiredRpl}}</td>
                    <td style="line-height: 2.2 !important;">{{thisHPA.currAvgUtl}}%</td>
                    <td style="line-height: 0 !important;">
                        <a class="btn" (click)="showEdit(thisHPA.namespace, thisHPA.name, thisHPA.minReplicas, thisHPA.maxReplicas, thisHPA.metricAvg)" title="Config...">
                            <i class="fas fa-cog" (click)="showEdit(thisHPA.namespace, thisHPA.name, thisHPA.minReplicas, thisHPA.maxReplicas, thisHPA.metricAvg)"></i>
                          </a>
                        <a class="btn" (click)="showDelete(thisHPA.namespace, thisHPA.name)" title="Delete...">
                          <i class="fas fa-trash" (click)="showDelete(thisHPA.namespace, thisHPA.name)"></i>
                        </a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>

    <!--            -->
    <!-- Modal: New -->
    <!--            -->
    <div class="modal fade" id="modal-new" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="new-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-new")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="new-value">
              <label for="newHPAName">Name:</label>
              <input #newhpaname type="text" class="form-control" id="new-hpa-name" name="new-hpa-name" placeholder="name">
              <label for="newHPANamespace">Namespace:</label>
              <select #newhpanamespace class="custom-select rounded-0" name="new-hpa-namespace" id="new-hpa-namespace" (change)="onChangeNamespace(newhpanamespace.value)">
                  <option></option>
              </select>
              <label for="newHPATargetPool">VM Pool:</label>
              <select #newhpatargetpool class="custom-select rounded-0" name="new-hpa-targetpool" id="new-hpa-targetpool">
                  <option></option>
              </select>
              <label for="newHPAMin">Min Replicas</label>
              <input #newhpamin type="number" class="form-control" id="new-hpa-min" name="new-hpa-min" placeholder="1">
              <label for="newHPAMax">Max Replicas</label>
              <input #newhpamax type="number" class="form-control" id="new-hpa-max" name="new-hpa-max" placeholder="1">
              <label for="newHPAThreshold">Target CPU Utilization Threshold (%)</label>
              <input #newhpathreshold type="number" class="form-control" id="new-hpa-threshold" name="new-hpa-threshold" placeholder="75">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-new")'>Close</button>
              <button type="button" class="btn btn-primary" (click)='applyNew(newhpaname.value, newhpanamespace.value, newhpatargetpool.value, newhpamin.value, newhpamax.value, newhpathreshold.value)'>Create</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    <!--             -->
    <!-- Modal: Edit -->
    <!--             -->
    <div class="modal fade" id="modal-edit" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="edit-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-edit")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body" id="edit-value">
              <input #edithpaname type="hidden" class="form-control" id="edit-hpa-name" name="edit-hpa-name">
              <input #edithpanamespace type="hidden" name="edit-hpa-namespace" id="edit-hpa-namespace">
              <label for="editHPAMin">Min Replicas</label>
              <input #edithpamin type="number" class="form-control" id="edit-hpa-min" name="edit-hpa-min" value="1">
              <label for="editHPAMax">Max Replicas</label>
              <input #edithpamax type="number" class="form-control" id="edit-hpa-max" name="edit-hpa-max" value="1">
              <label for="editHPAThreshold">Target CPU Utilization Threshold (%)</label>
              <input #edithpathreshold type="number" class="form-control" id="edit-hpa-threshold" name="edit-hpa-threshold" value="75">
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-edit")'>Close</button>
              <button type="button" class="btn btn-primary" (click)='applyEdit(edithpanamespace.value, edithpaname.value, edithpamin.value, edithpamax.value, edithpathreshold.value)'>Save</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

    <!--               -->
    <!-- Modal: Delete -->
    <!--               -->
    <div class="modal fade" id="modal-delete" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="delete-title">TITLE_TEMPLATE</h4>
              <button type="button" class="close" (click)='hideComponent("modal-delete")'>
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <input type="hidden" id="delete-namespace" name="delete-namespace" value="">
            <input type="hidden" id="delete-name" name="delete-name" value="">
            <div class="modal-body" id="delete-value">
              <p>BODY_TEMPLATE</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" (click)='hideComponent("modal-delete")'>Close</button>
              <button type="button" class="btn btn-danger" (click)="applyDelete()">Delete</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
</div>