<div class="content">
    <div class="container-fluid">
      <div class="content-wrapper">
        &nbsp;<br>
        <div class="card card-outline">
          <div class="card-header">
            <h3 class="card-title">
              Auto Scaling
            </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool">
                  <i class="fas fa-plus-square" title="Create group..."></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-sm" style="vertical-align: middle !important;">
                <thead>
                  <tr>
                    <th style="width: 10px">&nbsp;</th>
                    <th style="width: 130px">Namespace</th>
                    <th style="width: 160px">Name</th>
                    <th style="width: 70px">VM Type</th>
                    <th style="width: 18px">vCPU</th>
                    <th style="width: 18px">Memory</th>
                    <th style="width: 80px">Status</th>
                    <th style="width: 80px">IP Address</th>
                    <th style="width: 250px">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                    <td>aaaaa</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
