<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img class="brand-image img-circle elevation-3" src="assets/logo-transparent.png" alt="kubevirt-manager Logo" style="opacity: .8" width="50" height="50">
    <span class="brand-text font-weight-light">kubevirt-manager</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Menubar -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/" class="nav-link" alt="#" title="Dashboard...">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/vmlist" class="nav-link" alt="#" title="Virtual Machines...">
            <i class="nav-icon fas fa-desktop"></i>
            <p>Virtual Machines</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/vmpools" class="nav-link" alt="#" title="Virtual Machine Pools...">
            <i class="nav-icon fas fa-server"></i>
              <p>VM Pools</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/autoscale" class="nav-link" alt="#" title="Auto Scaling...">
            <i class="nav-icon fas fa-expand-alt"></i>
              <p>Auto Scaling</p>
          </a>
        </li>
        <li class="nav-item" *ngIf="capkCheck">
            <a routerLink="/kcluster" class="nav-link" alt="#" title="Clusters...">
              <i class="nav-icon fas fa-cubes"></i>
              <p>Clusters</p>
            </a>
        </li>
        <li class="nav-item">
          <a routerLink="/nodelist" class="nav-link" alt="#" title="Nodes...">
            <i class="nav-icon fas fa-hdd"></i>
            <p>Nodes</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/dsklist" class="nav-link" alt="#" title="Disks..">
            <i class="nav-icon fas fa-database"></i>
            <p>Data Volumes</p>
          </a>
        </li>
        <li class="nav-item">
            <a routerLink="/citlist" class="nav-link" alt="#" title="Instance Types...">
              <i class="nav-icon fas fa-book"></i>
              <p>Instance Types</p>
            </a>
        </li>
        <li class="nav-item">
          <a routerLink="/lblist" class="nav-link" alt="#" title="Load Balancers...">
            <i class="nav-icon fas fa-sitemap"></i>
            <p>Load Balancers</p>
           </a>
        </li>
        <li class="nav-item" *ngIf="imgCheck">
            <a routerLink="/imagelist" class="nav-link" alt="#" title="Images...">
              <i class="nav-icon fas fa-compact-disc"></i>
              <p>Images</p>
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/sshkeys" class="nav-link" alt="#" title="SSH Keys...">
              <i class="nav-icon fas fa-key"></i>
              <p>SSH Keys</p>
            </a>
        </li>
        <!--
        <li class="nav-item">
            <a routerLink="/firewalls" class="nav-link" alt="#" title="Firewall...">
              <i class="nav-icon fas fa-shield-alt"></i>
              <p>Firewall</p>
            </a>
        </li>
        -->
        <li class="nav-item" *ngIf="networkCheck">
          <a routerLink="/netlist" class="nav-link" alt="#" title="Network...">
            <i class="nav-icon fas fa-network-wired"></i>
            <p>Network</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->

  </div>
</aside>
