<div class="content">
  <div class="container-fluid">
    <div class="content-wrapper">
      &nbsp;<br>
      <div class="card card-primary card-outline" *ngFor="let thisNode of nodeList">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-server"></i>
            &nbsp;&nbsp;{{thisNode.name}}
          </h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" (click)="showUpload(thisNode.name)">
                <i class="fas fa-upload"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
         <table class="table table-sm" style="vertical-align: middle !important;">
            <thead>
              <tr>
                <th style="width: 10px">&nbsp;</th>
                <th style="width: 250px">Image</th>
                <th style="width: 200px">Size</th>
                <th style="width: 80px">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let thisImg of thisNode.imglist">
                  <td style="line-height: 2.2 !important; align-content: center;"><i class="fas fa-file"></i></td>
                  <td style="line-height: 2.2 !important;">{{thisImg.name}}</td>
                  <td style="line-height: 2.2 !important;">{{thisImg.size}}</td>
                  <td style="line-height: 0 !important;">
                    <a class="btn" (click)="showInfo(thisImg.name, thisNode.name)">
                      <i class="fas fa-info"></i>
                    </a>
                    <a class="btn" (click)="showRename(thisImg.name, thisNode.name)">
                        <i class="fas fa-cog"></i>
                    </a>
                    <a class="btn" (click)="showDelete(thisImg.name, thisNode.name)">
                      <i class="fas fa-trash"></i>
                    </a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>

    <!--               -->
    <!-- Modal: Rename -->
    <!--               -->
    <div class="modal fade" id="modal-rename" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="rename-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)="hideRename()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="rename-value">
            <div class="form-group">
              <input type="hidden" id="src-name" name="src-name" value="">
              <input type="hidden" id="img-node" name="img-node" value="">
              <label for="resizeInput">New name</label>
              <input #dstname type="text" class="form-control" id="dst-name" name="dst-name" placeholder="new-file.img">
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" (click)="hideRename()">Close</button>
            <button type="button" class="btn btn-primary" (click)="applyRename(dstname.value)">Rename</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--             -->
    <!-- Modal: Info -->
    <!--             -->
    <div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="info-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)="hideInfo()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="info-value">
            <p>BODY_TEMPLATE</p>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-default" (click)="hideInfo()">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Upload -->
    <!--               -->
    <div class="modal fade" id="modal-upload" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="upload-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)="hideUpload()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <input type="hidden" name="upload-node" id="upload-node" value="">
          <div class="modal-body" id="upload-value">
            <label for="fileInput">Image File:</label>
              <input #uploadfile type="file" class="form-control" id="upload-file" name="upload-file">
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" (click)="hideUpload()">Close</button>
            <button type="button" class="btn btn-primary" (click)="applyUpload(uploadfile)">Upload</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Delete -->
    <!--               -->
    <div class="modal fade" id="modal-delete" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="delete-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)="hideDelete()">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <input type="hidden" id="delete-image" name="delete-image" value="">
          <input type="hidden" id="delete-node" name="delete-node" value="">
          <div class="modal-body" id="delete-value">
            <p>BODY_TEMPLATE</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" (click)="hideDelete()">Cancel</button>
            <button type="button" class="btn btn-danger" (click)="applyDelete()">Delete</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</div>

