<div class="content">
  <div class="container-fluid">
    <div class="content-wrapper">
      &nbsp;<br>
      <div class="card card-outline">
        <div class="card-header">
          <h3 class="card-title">
            <i class="fas fa-database"></i>
            &nbsp;&nbsp;Data Volumes / Persistent Volumes
          </h3>
          <div class="card-tools">
            <!--<button type="button" class="btn btn-tool">
                <i class="fas fa-upload"></i>
            </button> -->
            <button type="button" class="btn btn-tool"  (click)="showNew()" title="New Disk...">
              <i class="fas fa-plus-square"></i>
          </button>
          </div>
        </div>
        <div class="card-body">
         <table class="table table-sm" style="vertical-align: middle !important;">
            <thead>
              <tr>
                <th style="width: 10px">&nbsp;</th>
                <th style="width: 100px">Namespace</th>
                <th style="width: 160px">Name</th>
                <th style="width: 20px">Size</th>
                <th style="width: 60px">Status</th>
                <th style="width: 20px">Progress</th>
                <th style="width: 100px">Storage Class</th>
                <th style="width: 100px">Access Mode</th>                
                <th style="width: 80px">Actions</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let thisDisk of diskList">
                  <td style="line-height: 2.2 !important; align-content: center;"><i class="fas fa-database"></i></td>
                  <td style="line-height: 2.2 !important;">{{thisDisk.namespace}}</td>
                  <td style="line-height: 2.2 !important;">{{thisDisk.name}}</td>
                  <td style="line-height: 2.2 !important;">{{thisDisk.size}}</td>
                  <td style="line-height: 2.2 !important;">{{thisDisk.status}}</td>
                  <td style="line-height: 2.2 !important;">{{thisDisk.progress}}</td>
                  <td style="line-height: 2.2 !important;">{{thisDisk.storageClass}}</td>
                  <td style="line-height: 2.2 !important;">{{thisDisk.accessMode}}</td>
                  <td style="line-height: 0 !important;">
                    <a class="btn">
                      <i class="fas fa-info" (click)="showInfo(thisDisk.namespace, thisDisk.name)" title="Info..."></i>
                    </a>
                    <span [ngSwitch]="thisDisk.bound">
                        <a class="btn" (click)="showResize(thisDisk.namespace, thisDisk.name)" title="Resize..." *ngSwitchCase="true"> 
                            <i class="fas fa-arrow-up" ></i>
                        </a>
                        <a class="btn disabled" title="Resize..." *ngSwitchDefault> 
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    </span>
                    <a class="btn" title="Delete...">
                      <i class="fas fa-trash" (click)="showDelete(thisDisk.namespace, thisDisk.name)"></i>
                    </a>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>

    <!--               -->
    <!-- Modal: Resize -->
    <!--               -->
    <div class="modal fade" id="modal-resize" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="resize-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)='hideComponent("modal-resize")'>
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="resize-value">
            <div class="form-group">
              <input type="hidden" id="resize-namespace" name="resize-namespace" value="">
              <input type="hidden" id="resize-disk" name="resize-disk" value="">
              <label for="resizeInput">New size in GB</label>
              <input #resizeinput type="number" class="form-control" id="resize-input" name="resize-input" placeholder="0">
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" (click)='hideComponent("modal-resize")'>Close</button>
            <button type="button" class="btn btn-primary" (click)="applyResize(resizeinput.value)">Resize</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--             -->
    <!-- Modal: Info -->
    <!--             -->
    <div class="modal fade" id="modal-info" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="info-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)='hideComponent("modal-info")'>
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body" id="info-value">
            <ul class="nav flex-column" id="info-cards">
                TEMPLATE
            </ul>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-default" (click)='hideComponent("modal-info")'>Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--            -->
    <!-- Modal: New -->
    <!--            -->
    <div class="modal fade" id="modal-new" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="new-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)='hideComponent("modal-new")'>
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <input type="hidden" id="new-node" name="new-node" value="">
          <div class="modal-body" id="new-value">
            <label for="newDiskName">Disk Name</label>
            <input #newdiskname type="text" class="form-control" id="new-disk-name" name="new-disk-name" placeholder="disk-name">
            <label for="newDiskNamespace">Namespace:</label>
            <select #newdisknamespace class="custom-select rounded-0" name="new-disk-namespace" id="new-disk-namespace">
                <option>Value 1</option>
            </select>
            <label for="newDiskStorageClass">Storage Class:</label>
            <select #newdiskstorageclass class="custom-select rounded-0" name="new-disk-storageclass" id="new-disk-storageclass">
                <option>Value 1</option>
            </select>
            <label for="newDiskAccessMode">Access Mode:</label>
            <select #newdiskaccessmode class="custom-select rounded-0" name="new-disk-accessmode" id="new-disk-accessmode">
                <option>ReadWriteOnce</option>
                <option>ReadOnlyMany</option>
                <option>ReadWriteMany</option>
            </select>
            <label for="newDisksize">Size in GB</label>
            <input #newdisksize type="number" class="form-control" id="new-disk-size" name="new-disk-size" placeholder="0">
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" (click)='hideComponent("modal-new")'>Close</button>
            <button type="button" class="btn btn-primary" (click)="applyNew(newdisknamespace.value, newdiskname.value , newdiskstorageclass.value, newdiskaccessmode.value, newdisksize.value)">Create</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>

    <!--               -->
    <!-- Modal: Delete -->
    <!--               -->
    <div class="modal fade" id="modal-delete" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="delete-title">TITLE_TEMPLATE</h4>
            <button type="button" class="close" (click)='hideComponent("modal-delete")'>
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <input type="hidden" id="delete-namespace" name="delete-namespace" value="">
          <input type="hidden" id="delete-disk" name="delete-disk" value="">
          <div class="modal-body" id="delete-value">
            <p>BODY_TEMPLATE</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" (click)='hideComponent("modal-delete")'>Close</button>
            <button type="button" class="btn btn-danger" (click)="applyDelete()">Delete</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</div>

